<p><strong>ID:</strong> <%= user.id %></p>
<p><strong>Username:</strong> <%= user.username %></p>
<p><strong>Avatar:</strong> </p><img src='<%= user.AvatarUrl %>'/></p>
<p><strong>Found:</strong> <%= user.FindCount %></p>
<p><strong>Hide:</strong> <%= user.HideCount %></p>
<p><strong>PublicGuid:</strong> <%= user.PublicGuid %></p>
