<p><strong>ReferenceCode:</strong> <%= user.id %></p>
<p><strong>Username:</strong> <%= user.username %></p>
<p><strong>Avatar:</strong> <br /><img src="<%= user.avatarUrl %>" /></p>
<p><strong>Found:</strong> <%= user.findCount %></p>
<p><strong>Hide:</strong> <%= user.hideCount %></p>
<p><strong>membershipLevelId:</strong> <%= user.membershipLevelId %></p>
